<h2><%= @form.name %></h2>

<%
  html_attrs = {:method => :post, :class => 'form_submission_form'}
  html_attrs[:multipart] = true if @form.is_multipart?
%>

<%= form_for @form_submission, :as => :form_submission, :url => form_form_submissions_path(:form_id => @form.id), :html => html_attrs do |f| %>
  <% unless @form.instructions.blank? %>
     <p><%= simple_format(@form.instructions) %></p>
  <% end %>
  <%= f.form_submission_error_messages %>
  <% @form.form_fields.each do |field| %>
    <div>
      <%= f.label field.name, field.label unless field.type == 'FormField::Markup' %>
      <%= display_form_field(f, field) %>
    </div>
  <% end %>
  <div>
    <%= f.submit @form.submit_label %>
  </div>
<% end %>
